<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>SCO Sports</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/LOGO.png">
    <!-- Template CSS -->
    <link href="../../admin-assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/assets/imgs/theme/LOGO.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/products?page=1"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/users?page=1"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a> 
                </li>

                <li class="menu-item">
                    <a class="menu-link" href="/admin/brands?page=1"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Brands</span> </a>
                </li>

                <li class="menu-item active">
                    <a class="menu-link" href="/admin/category?page=1"> <i class="icon material-icons md-category"></i>
                        <span class="text">Category Management</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/orders?page=1"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Order Management</span> </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/coupons?page=1">  <i class="icon material-icons md-card_giftcard"></i>
                        <span class="text">Coupon Management</span> </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/banner?page=1"><i class="icon material-icons md-photo_library"></i>
                        <span class="text">Banner Management</span> </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/salesFilter?startDate=&endDate=&page=1"> <i class="icon material-icons md-show_chart"></i>
                        <span class="text">Sales Report</span> </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="../admin-assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>


        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add, edit or delete a category</p>
                </div>
                
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form method="post" onsubmit="return checkForm()">
                                <div class="mb-4">
                                    <label for="categoryName" class="form-label">Category Name</label>
                                    <input type="text" name="categoryName" placeholder="Type here" class="form-control" id="CategoryName">
                                    <div class="validation-message" style="color: red;" id="errorMessage"></div>
                                    
                                </div>

                                <% if(typeof(message)!== undefined){%>
                                    <div class="align-items-center"><p id="msg" style="color: red;"><%=locals.message%></p></div>
                                                                            
                                    <%}%>

                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Create category</button>
                                </div>
                
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            
                                            <th>No</th>
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th class="text-end">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (let i = 0; i < categoryList.length; i++) { %>
                                            <tr>
                                                
                                                <td><%= i + 1 %></td>
                                                <td><b><%= categoryList[i].categoryName %></b></td>
                                                <% if (categoryList[i].list) { %>
                                                    <td style="color: green;">Active</td>
                                                <% } else { %>
                                                    <td style="color: red;">Not Active</td>
                                                <% } %>
                                                <td class="text-end">
                                                    <a href="/admin/category/edit?id=<%=categoryList[i]._id %>" class="btn btn-sm btn-brand rounded font-sm mt-15">Edit</a>
                                                    
                                                </td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>


                            <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-start">
                                        <li class="page-item">
                                            <%if(page==1){%>
                                                <a class="page-link" ><i class="fi-rs-angle-double-small-left"><</i></a>
                                            <%}else{%>
                                            <a class="page-link" href="/admin/category?page=<%=parseInt(page)-1%>"><i class="fi-rs-angle-double-small-left"><</i></a>
                                            <%}%>
                                        </li>
                                        
                                            <li class="page-item active">
                                                <a class="page-link" href=""><%=page %></a>
                                            </li>
                                        
                                        <li class="page-item">
                                            <%if(page==pageLimit){%>
                                                <a class="page-link" ><i class="fi-rs-angle-double-small-right">></i></a>
                                            <%}else{%>
                                            <a class="page-link" href="/admin/category?page=<%=parseInt(page)+1%>"><i class="fi-rs-angle-double-small-right">></i></a>
                                            <%}%>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script>
        const msg=document.getElementById("msg")
        setTimeout(()=>{
            msg.innerHTML=''
        },5000)
    </script>
    <script>
        const category=document.getElementById('CategoryName')
        const errorMessage=document.getElementById('errorMessage')

        function categoryCheck(element){
            if(element.trim().length<1){
                errorMessage.textContent="Field Cannot Be Empty !"
                return false
            }
            errorMessage.textContent=""
            return true
        }

        function checkForm(){
            isValid=categoryCheck(category.value)
            if(isValid){
                return true
            }else{
                return false
            }
        }



       
    </script>
    <script src="../admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="../admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../admin-assets/js/vendors/select2.min.js"></script>
    <script src="../admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="../admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="../admin-assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
</html>