<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>SCO Sports</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/LOGO.png">
    <!-- Template CSS -->
    <link href="../../admin-assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/assets/imgs/theme/LOGO.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a> 
                </li>

                <li class="menu-item">
                    <a class="menu-link" href="/admin/brands"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>

                <li class="menu-item">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Category Management</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Order Management</span> </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/coupons"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Coupon Management</span> </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/banner"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Banner Management</span> </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/salesReport"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Sales Report</span> </a>
                </li>
                
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="../admin-assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Sales Report</h2>
                
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        
                        <div class="col-lg-3 col-md-6">
                            <form action="/admin/salesFilter" method="get">
                                <div class="form-group">
                                    <label for="startDate">Start Date</label>
                                    <input type="date" name="startDate" id="startDate" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3 me-auto">
                                <div class="form-group">
                                    <label for="endDate">End Date</label>
                                    <input type="date" name="endDate" id="endDate" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary" id="salesFilter">Search</button>
                            </form>
                        </div>
                        
                    

                        
                        <div class="col-lg-2">
                            <a class="btn" id="downloadExcel" style="background-color: rgb(223, 143, 6);" onclick="downloadExcel()">Download Excel</a>
                        </div>
                        <div  class="col-lg-2">
                            <%if(startDate&&endDate){%>
                            <a href="/admin/downloadPdfReport?start=<%=startDate%>&end=<%=endDate%>" class="btn" id="pdfDownload" style="background-color: rgb(230, 102, 17);" >Download PDF</a>
                            <%}else{%>
                                <a href="/admin/downloadPdfReport" class="btn" id="pdfDownload" style="background-color: rgb(230, 102, 17);" >Download PDF</a>
                            <%}%>
                        </div>

                        
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="salesReport">
                            <thead>
                                <tr>
                                    <th>OrderId</th>
                                    <th>CustomerName</th>
                                    <th>Email</th>
                                    <th>Date</th>
                                    <th>Order Status</th>
                                    <th>Amount</th>
                                    <th > Payment Type </th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for(let i=0;i< order.length;i++){%>
                                <tr>
                                    <td><%=order[i].orderId%></td>
                                    <td><%=order[i].customerId.name%></td>
                                    <td><%=order[i].customerId.email%></td>
                                    <%const createdTimestamp = new Date(order[i].createdOn)
                                    const createdDate = createdTimestamp.toLocaleDateString();%>
                                    <td><%=createdDate%></td>
                                    <td><%=order[i].status%></td>
                                    <td><%=order[i].totalAmount%></td>
                                    <td><%=order[i].paymentMethod%></td>

                                    
                                </tr>
                                <%}%>
                                
                            </tbody>
                        </table> <!-- table-responsive.// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
       
    </main>
    

     <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

<script>
    

    function downloadExcel() {
        const table = document.getElementById('salesReport');
        const ws = XLSX.utils.table_to_sheet(table);
        const wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, 'Sales Report');
        XLSX.writeFile(wb, 'sales_report.xlsx');
    }
</script>

   
    
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
  

    
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="../admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../admin-assets/js/vendors/select2.min.js"></script>
    <script src="../admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="../admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="../admin-assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-sellers-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:23 GMT -->
</html>