<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:20:36 GMT -->
<head>
    <meta charset="utf-8">
    <title>SCO Sports</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/LOGO.png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">

    <style>
        .adjust_size_productName {
  max-width: 200px; /* Adjust this to your desired maximum width */
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

    </style>
    <style>
        /* Add your CSS styling here */
        .search-container {
            display: flex;
            align-items: center;
            background-color: #f2f2f2;
            border-radius: 5px;
            padding: 5px;
        }

        .search-input {
            width: 700px;
            border: none;
            padding: 10px;
            border-radius: 5px;
        }

        .search-button {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
        }

        .search-button:hover {
            background-color: #0056b3;
        }
    </style>
    <style>
        .butn {
        display: inline-block;
        padding: 8px 16px; /* Adjust padding as needed */
        min-width: 120px; /* Set a minimum width for the button */
        margin: 0; /* Reset margin to ensure consistent spacing */
        text-align: center;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: rgb(9, 86, 5);
        color: #fff;
        font-size: 14px;
        line-height: 1.5;
        transition: all 0.3s ease;
    }
    </style>
   
    
</head>

<body>

    <header class="header-area header-style-1 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i>+91 9876543210</li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <%if(userData){%>
                                    <li><i class="fi-rs-user"></i><a href="/userAccount">Account</a></li>
                                    <li><i class="fi-rs-user"></i><a href="/logout">Logout</a></li>
                                    <%}else{%>
                                        <li><i class="fi-rs-user"></i><a href="/user/login">Log In</a></li>
                                        <li><i class="fi-rs-user"></i><a href="/user/signup">Sign Up</a></li>
                                        <%}%>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a><img src="/assets/imgs/theme/LOGO.png" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <form action="/search" method="get">
                            <div class="search-container">
                                <input type="text" class="search-input" name="query" placeholder="Search...">
                                <input type="hidden" name="pages" value="1">
                                <button type="submit" class="search-button">Search</button>
                            </div>
                        </form>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <%if(userData){%>
                                    <a href="/wishlist">
                                        <img class="svgInject" alt="SCO" src="/assets/imgs/theme/icons/icon-heart.svg">                         
                                        <span class="pro-count blue" id="wishlistCount"><%=userData.wishlist.length%></span>                        
                                    </a>
                                    <%}else{%>
                                        <a href="/user/login">
                                            <img class="svgInject" alt="SCO" src="/assets/imgs/theme/icons/icon-heart.svg">                                                 
                                        </a>
                                    <%}%>
                                </div>





                                <div class="header-action-icon-2">
                                    <%if(userData){%>
                                    <a class="mini-cart-icon" href="/cart">
                                        <img alt="SCO" src="/assets/imgs/theme/icons/icon-cart.svg">
                                        <span class="pro-count blue"><%=userData.cart.length%></span> 
                                    </a>
                                    <%}else{%>
                                        <a class="mini-cart-icon" href="/user/login">
                                            <img alt="SCO" src="/assets/imgs/theme/icons/icon-cart.svg"> 
                                        </a>
                                    <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a><img src="/assets/imgs/theme/LOGO.png"  alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                           
                            <div class="categori-dropdown-wrap categori-dropdown-active-large">
                                <ul>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block" style="padding-left: 180px;">
                            <nav>
                                <ul>
                                    <li><a href="/userHome">Home </a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a class="active" href="/search?pages=1">Shop </a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <%if(userData){%>
                                    <a href="/wishlist">
                                        <img class="svgInject" alt="SCO" src="/assets/imgs/theme/icons/icon-heart.svg">                         
                                        <span class="pro-count blue" id="wishlistCount"><%=userData.wishlist.length%></span>                        
                                    </a>
                                    <%}else{%>
                                        <a href="/user/login">
                                            <img class="svgInject" alt="SCO" src="/assets/imgs/theme/icons/icon-heart.svg">                                                 
                                        </a>
                                    <%}%>
                            </div>
                            <div class="header-action-icon-2">
                                <%if(userData){%>
                                    <a class="mini-cart-icon" href="/cart">
                                        <img alt="SCO" src="/assets/imgs/theme/icons/icon-cart.svg">
                                        <span class="pro-count blue"><%=userData.cart.length%></span> 
                                    </a>
                                    <%}else{%>
                                        <a class="mini-cart-icon" href="/user/login">
                                            <img alt="SCO" src="/assets/imgs/theme/icons/icon-cart.svg"> 
                                        </a>
                                    <%}%>
                                
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


<!-- Mobile View Side Toggle -->


    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a ><img src="/assets/imgs/theme/LOGO.png" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="/search" method="get">
                        <div class="search-container">
                            <input type="text" class="search-input" name="query" placeholder="Search...">
                            <input type="hidden" name="pages" value="1">
                            <button type="submit" class="search-button">Search</button>
                        </div>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" >
                            
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            
                        </div>
                    </div>
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="/userHome">Home</a>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                href="/about">About</a>
                        </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="/search?pages=1">shop</a>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/contact">Contact</a>

                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    
                    <div class="single-mobile-header-info">
                        <%if(userData){%>
                            <a href="/userAccount">Account</a>
                            <%}else{%>
                            <a href="/user/login">Log In</a>
                        <%}%>
                    </div>
                    <div class="single-mobile-header-info">
                        <%if(userData){%>
                            <a href="/logout">Logout</a>
                            <%}else{%>
                            <a href="/user/signup">Sign Up</a>
                        <%}%>
                        
                    </div>
                    <div class="single-mobile-header-info">
                        <a>(+91) 9876543210 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a ><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a ><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a ><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a ><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a ><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50 ml-30">
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fi-rs-search"></i></span>

                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider">

                                            <%for(let i=0;i< data.images.length;i++){%>
                                                <figure class="border-radius-10">
                                                    <img src="/admin-assets/imgs/croppedProducts/<%= data.images[i].url%>" alt="product image">
                                                </figure>
                                            <%}%>

                                        </div>
                                        <!-- THUMBNAILS -->
                                        <div class="slider-nav-thumbnails pl-15 pr-15">
                                            <%for(let i=0; i< data.images.length; i++){%>
                                                <div><img src="/admin-assets/imgs/croppedProducts/<%=data.images[i].url%>"
                                                        alt="product image"></div>
                                                <%}%>
                                        </div>
                                    </div>
                                    <!-- End Gallery -->
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail">
                                            <%=data.title%>
                                        </h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <span> Brand: <a href="">
                                                        <%=data.brand%>
                                                    </a></span>
                                                    <%if(data.category.discount>0){%>
                                                        <ins style="font-size: 20px;"><span style="color: rgb(167, 65, 185);  padding-left: 20px; " >Category Offer applied</span></ins>
                                                        <%}%>
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <ins><span class="text-brand">₹<%=data.offerPrice%></span></ins>
                                                <%if(data.productDiscount>0){%>
                                                    <ins><span class="old-price">₹<%= data.regularPrice %></span></ins>
                                                    <ins style="font-size: 20px;"><span style="color: green;  padding-left: 20px; " ><%= data.productDiscount %> % off</span></ins>
                                                    <%}%>

                                                    
                                                <!-- <span class="save-price  font-md color3 ml-15">25% Off</span> -->
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="product_sort_info font-xs mb-30">
                                            
                                            <ul>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return
                                                    Policy</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available
                                                </li>
                                            </ul>
                                        </div>
                                        <form action="/addToCart" method="post">
                                            <div class=" ">
                                                <strong class="mr-10">Size</strong> <span class="size-value"><%= data.size %></span>
                                                <input type="hidden" name="size" value="<%= data.size %>">
                                                
                                            </div>
                                        
                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="detail-extralink">
                                            
                                            <div class="product-extra-link2">
                                                <%if(data.stock==0){%>
                                                    <button type="submit" class="btn btn-outline-danger text-danger"
                                                        disabled>Out Of Stock</button>
                                                    <%}else{%>
                                                        
                                                            <input type="hidden" value="<%=data._id%>" name="productId">
                                                            <%if(userData){%>
                                                                <input type="hidden" value="<%=userData._id%>" name="userId">
                                                            <button type="submit" class="button button-add-to-cart">Add to
                                                            cart</button>
                                                            <%}else{%>
                                                                <!-- <a href="/user/login" class="butn" style="background-color: green; color: white;" >Add To Cart
                                                                    </a>  -->
                                                                    <button  class="button" type="button" id="addsCart">Add to
                                                                        cart</button>
                                                            <%}%>
                                                            
                                                        
                                                        <%}%>
                                                       

                                            </div>
                                        </div>
                                    </form>
                                    <br><br>
                                        <div><h6>No of items left:<%=data.stock%></h6></div>
                                        
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 m-auto entry-main-content">
                                    <h2 class="section-title style-1 mb-30">Description</h2>
                                    <div class="description mb-50">
                                        <p><%=data.description%></p>

                                    </div>

                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!--comment form-->
                    
                </div>
            </div>
            <div class="row mt-60 container">
                <div class="col-12">
                    <h3 class="section-title style-1 mb-30">Related products</h3>
                </div>
                <div class="col-12">
                    <div class="row related-products">
                        <%for(let i=0;i<homeData.length;i++){%>
                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap small hover-up">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="/products/productsDetail?id=<%=homeData[i]._id%>" tabindex="0">
                                            <img class="default-img" src="/admin-assets/imgs/croppedProducts/<%=homeData[i].images[0].url %>" alt="">
                                            
                                        </a>
                                    </div>
                                    <div class="product-action-1">
                                        
                                        <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                            href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                        
                                    </div>
                                    <div class="product-badges product-badges-position product-badges-mrg">
                                        <span class="hot">Hot</span>
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <h2><a href="shop-product-right.html" tabindex="0"><%= homeData[i].title %></a></h2>
                                    <div class="rating-result" title="90%">
                                        <span>
                                        </span>
                                    </div>
                                    <div class="product-price">
                                        <span>₹<%= homeData[i].offerPrice %></span>
                                        <span class="old-price">₹<%= homeData[i].regularPrice %></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}%>
                        
                    </div>
                </div>
            </div>
            
            </div>
            </div>
            </div>
            </div>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-4 ">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a><img src="/assets/imgs/theme/LOGO.png" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>SCO Sports, Maradu, Ernakulam, Kerala
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+91 9876543210
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4  col-md-4 " style="display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <%if(userData){%>
                                <li><a href="/userAccount">Account</a></li>
                            <%}else{%>
                                <li><a href="/user/login">Sign In</a></li>
                            <%}%>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                            <li><a href="/contact">Help</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4  col-md-4" style="display: flex;flex-direction: column;align-items: right;text-align: center;">
                        
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a ><img src="/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a ><img src="/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a ><img src="/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a ><img src="/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        
                    </div>
                    
                </div>
            </div>
        </section>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Vendor JS-->
    <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/plugins/slick.js"></script>
    <script src="/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/assets/js/plugins/wow.js"></script>
    <script src="/assets/js/plugins/jquery-ui.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/assets/js/plugins/magnific-popup.js"></script>
    <script src="/assets/js/plugins/select2.min.js"></script>
    <script src="/assets/js/plugins/waypoints.js"></script>
    <script src="/assets/js/plugins/counterup.js"></script>
    <script src="/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/assets/js/plugins/images-loaded.js"></script>
    <script src="/assets/js/plugins/isotope.js"></script>
    <script src="/assets/js/plugins/scrollup.js"></script>
    <script src="/assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="/assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/assets/js/plugins/jquery.elevatezoom.js"></script>
    

<script>
    document.getElementById('addsCart').addEventListener("click",(events)=>{
        events.preventDefault()
        window.location.href="/user/login"
    })
</script>


    
    <!-- Template  JS -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/shop.js"></script>
    
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-product-full.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:43 GMT -->
</html>