<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->

<head>
    <meta charset="utf-8">
    <title>SCO Sports</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/imgs/theme/LOGO.png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/main.css">
    <style>
    
    
    .input-field {
        
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }
    
    .validation-message {
        font-size: 14px;
        color: red;
    }
    
    .valid-input {
        border: 10px solid #4CAF50;
    }
    
    .invalid-input {
        border: 10px solid #FF5733;
    }
    
    .valid-message {
        color: #4CAF50;
    }
    
    .invalid-message {
        color: #FF5733;
    }
    </style>
    <style>
        /* Add your CSS styling here */
        .search-container {
            display: flex;
            align-items: center;
            background-color: #f2f2f2;
            border-radius: 5px;
            padding: 5px;
        }

        .search-input {
            width: 700px;
            border: none;
            padding: 10px;
            border-radius: 5px;
        }

        .search-button {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
        }

        .search-button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <header class="header-area header-style-1 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">+91 9876543210</a></li>
                                <li><i class="fi-rs-marker"></i><a href="page-contact.html">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                
                                        <li><i class="fi-rs-user"></i><a href="/user/login">Log In</a></li>
                                        <li><i class="fi-rs-user"></i><a href="/user/signup">Sign Up</a></li>
                                        
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="index.html"><img src="/assets/imgs/theme/LOGO.png" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <form action="/search" method="get">
                            <div class="search-container">
                                <input type="text" class="search-input" name="query" placeholder="Search...">
                                <button type="submit" class="search-button">Search</button>
                            </div>
                        </form>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishlist">
                                        <img class="svgInject" alt="SCO" src="/assets/imgs/theme/icons/icon-heart.svg">
                                        
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cart">
                                        <img alt="SCO" src="/assets/imgs/theme/icons/icon-cart.svg">
                                        
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="/assets/imgs/theme/LOGO.png" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categori-button-active" href="#">
                                <span class="fi-rs-apps"></span> Browse Categories
                            </a>
                            <div class="categori-dropdown-wrap categori-dropdown-active-large">
                                <ul>
                                    <%for(let i=0;i<category.length;i++){%>
                                        <li><a href="/products/category?category=<%=category[i].categoryName%>"><i
                                                    class="evara-font-desktop"></i>
                                                <%=category[i].categoryName%>
                                            </a></li>
                                        <%}%>
                                </ul>
                            </div>
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/userHome">Home </a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/shop">Shop </a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img alt="Evara" src="/assets/imgs/theme/icons/icon-heart.svg">
                                    
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart">
                                    <img alt="SCO" src="/assets/imgs/theme/icons/icon-cart.svg">
                                    
                                </a>
                                
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>












<!-- Mobile View Side Toggle -->


    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a ><img src="assets/imgs/theme/LOGO.png" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="/search" method="get">
                        <div class="search-container">
                            <input type="text" class="search-input" name="query" placeholder="Search...">
                            <button type="submit" class="search-button">Search</button>
                        </div>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            <ul>
                                <%for(let i=0;i<category.length;i++){%>
                                    <li><a href="/products/category?category=<%=category[i].categoryName%>"><i
                                                class="evara-font-desktop"></i>
                                            <%=category[i].categoryName%>
                                        </a></li>
                                    <%}%>
                                </ul>
                        </div>
                    </div>
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="/userHome">Home</a>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                href="/about">About</a>
                        </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="/shop">shop</a>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/contact">Contact</a>

                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    
                    <div class="single-mobile-header-info">
                        <a href="/user/login">Log In</a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="/user/signup">Sign Up</a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+91) 9876543210 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Login / Register
                </div>
            </div>
        </div>

        <section class="pt-80 pb-150">
            <div class="container">
                <div class="row d-flex justify-content-center"> <!-- Center horizontally -->
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-6">
                                <div class="login_wrap widget-taber-content p-10 background-white border-radius-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30 text-center">Create an Account</h3>
                                            <% if(typeof(message)!==undefined){%>
                                                <div class="align-items-center">
                                                    <p id="msg" style="color: red;">
                                                        <%=locals.message%>
                                                    </p>
                                                </div>

                                                <%}%>
                                        </div>
                                        <form method="post" action="" id="validationForm" onsubmit="return checkFormValidity()" >
                                            <div class="form-group">
                                                <label for="name">Name:</label>
                                                <input type="text" id="name" name="name" class="input-field">
                                                <div class="validation-message" id="nameValidationMessage"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email:</label>
                                                <input type="email" id="email" name="email" class="input-field">
                                                <div class="validation-message" id="emailValidationMessage"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="mobile">Mobile:</label>
                                                <input type="tel" id="mobile" name="mobile" class="input-field">
                                                <div class="validation-message" id="mobileValidationMessage"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Password:</label>
                                                <input type="password" id="password" name="password"
                                                    class="input-field">
                                                <div class="validation-message" id="passwordValidationMessage"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Confirm Password:</label>
                                                <input type="password" id="confirmPassword" name="confirmPassword"
                                                    class="input-field">
                                                <div class="validation-message" id="confirmPasswordValidationMessage"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="referral">Referral Code (optional):</label>
                                                <input type="text" id="referral" name="referral"
                                                    class="input-field">
                                                
                                            </div>

                                            <div class="form-group">
                                                    <button type="submit" id="submitButton" >Submit</button>
                                            </div>

                                        </form>

                                        <div class="text-muted text-center">Already have an account? <a
                                                href="/user/login">Sign in now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>








    </main>
    
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <script>
        function validate() {

            // Input feilds
            const name = document.getElementById('name')
            const email = document.getElementById('email')
            const password = document.getElementById('password')
            const mobile = document.getElementById('mobile')
            const confirmPassword = document.getElementById('confirmPassword')

            // Error feilds
            const nameError = document.getElementById('nameError')
            const emailError = document.getElementById('emailError')
            const passwordError = document.getElementById('passwordError')
            const mobileError = document.getElementById('mobileError');
            const confirmPasswordError = document.getElementById('confirmPasswordError')

            // Regex   

            const emailRegex = /^[a-z0-9._%+-]+@gmail+\.[a-z]{3}$/;
            const mobileRegex = /^[0-9]{10}$/;


            //name feild
            if (name.value.trim() === '') {
                nameError.innerHTML = 'Name cannot be Empty'
                setTimeout(() => {
                    nameError.innerHTML = ''
                }, 5000)
                return false;
            }


            // email feild   
            if (email.value.trim() === '') {
                emailError.innerHTML = 'Email cannot be Empty'
                setTimeout(() => {
                    emailError.innerHTML = ''
                }, 5000)
                return false;
            }
            // if (!emailRegex.test(email.value)) {
            // emailError.innerHTML = "Please enter a valid email"
            // setTimeout(() => {
            //    emailError.innerHTML = ''
            // }, 5000);
            // return false;
            // }


            //mobile feild
            if (mobile.value.trim() === '') {
                mobileError.innerHTML = 'Mobile Number cannot be Empty'
                setTimeout(() => {
                    mobileError.innerHTML = ''
                }, 5000)
                return false;
            }

            if (!mobileRegex.test(mobile.value)) {
                mobileError.innerHTML = 'Please enter a valid number'
                setTimeout(() => {
                    mobileError.innerHTML = ''
                }, 5000)
                return false;
            }



            // password feild
            if (password.value.trim() === '') {
                passwordError.innerHTML = 'Password cannot be Empty'
                setTimeout(() => {
                    passwordError.innerHTML = ''
                }, 5000)
                return false;
            }

            // confirmPassword feild
            if (confirmPassword.value.trim() === '') {
                confirmPassword.innerHTML = 'Password cannot be Empty'
                setTimeout(() => {
                    confirmPassword.innerHTML = ''
                }, 5000)
                return false;
            }


            return true;
        }
    </script> -->
    <!-- Vendor JS-->
    <script src="../assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="../assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="../assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/plugins/slick.js"></script>
    <script src="../assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="../assets/js/plugins/wow.js"></script>
    <script src="../assets/js/plugins/jquery-ui.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="../assets/js/plugins/magnific-popup.js"></script>
    <script src="../assets/js/plugins/select2.min.js"></script>
    <script src="../assets/js/plugins/waypoints.js"></script>
    <script src="../assets/js/plugins/counterup.js"></script>
    <script src="../assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="../assets/js/plugins/images-loaded.js"></script>
    <script src="../assets/js/plugins/isotope.js"></script>
    <script src="../assets/js/plugins/scrollup.js"></script>
    <script src="../assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="../assets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="../assets/js/main.js"></script>
    <script>
        const nameInput = document.getElementById('name');
        const emailInput = document.getElementById('email');
        const mobileInput = document.getElementById('mobile');
        const passwordInput = document.getElementById('password');
        const confirmPasswordInput=document.getElementById('confirmPassword')
        const submitButton = document.getElementById('submitButton');
        
        const nameValidationMessage = document.getElementById('nameValidationMessage');
        const emailValidationMessage = document.getElementById('emailValidationMessage');
        const mobileValidationMessage = document.getElementById('mobileValidationMessage');
        const passwordValidationMessage = document.getElementById('passwordValidationMessage');
        const confirmPasswordValidationMessage=document.getElementById('confirmPasswordValidationMessage')



        const nameRegex = /^[A-Za-z\s]{2,}$/;
        const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
        const mobileRegex = /^[1-9]\d{9}$/;
        const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&+=!])(?=\S+$).{8,}$/;
        
        nameInput.addEventListener('input', () => {
            const name = nameInput.value;
            const isValid = validateName(name);
            
        });
        
        emailInput.addEventListener('input', () => {
            const email = emailInput.value;
            const isValid = validateEmail(email);
            
        });
        
        mobileInput.addEventListener('input', () => {
            const mobile = mobileInput.value;
            const isValid = validateMobile(mobile);
            
        });
        
        passwordInput.addEventListener('input', () => {
            const password = passwordInput.value;
            const isValid = validatePassword(password);
            
        });
        confirmPasswordInput.addEventListener('input', () => {
            const pass=passwordInput.value;
            const password = confirmPasswordInput.value;
            const isValid = validateConfirmPassword(pass,password);
            
        });
        

        function validateName(name) {
            if(name.trim().length < 1){
                nameValidationMessage.textContent="Name cannot be empty"
                return false
            }
            if(!nameRegex.test(name.trim())){
                nameValidationMessage.textContent="Enter a valid name"
                return false
            }
            nameValidationMessage.textContent=""
            return true
        }
        
        function validateEmail(email) {
            if(email.trim().length < 1){
                emailValidationMessage.textContent="Email cannot be empty"
                return false
            }
            if(!emailRegex.test(email.trim())){
                emailValidationMessage.textContent="Enter a valid email Id"
                return false
            }
            emailValidationMessage.textContent=""
            return true
        }
        
        function validateMobile(mobile) {
            if(mobile.trim().length < 1){
                mobileValidationMessage.textContent="Mobile cannot be empty"
                return false
            }
            if(!mobileRegex.test(mobile.trim())){
                mobileValidationMessage.textContent="Enter a valid mobile number"
                return false
            }
            mobileValidationMessage.textContent=""
            return true
        }
        
        function validatePassword(password) {
            if(password.trim().length < 1){
                passwordValidationMessage.textContent="Password cannot be empty"
                return false
            }
            if(!passwordRegex.test(password.trim())){
                passwordValidationMessage.textContent="Password must contain one uppercase , one lowercase, one special character and one digit"
                return false
            }
            passwordValidationMessage.textContent=""
            return true
        }


        function validateConfirmPassword(pass,confirm){
            if(pass!==confirm){
                confirmPasswordValidationMessage.textContent="Password should be same"
                return false
            }
            confirmPasswordValidationMessage.textContent=""
            return true
        }
        
        function checkFormValidity() {
            let nameIsValid = validateName(nameInput.value);
            let emailIsValid = validateEmail(emailInput.value);
            let mobileIsValid = validateMobile(mobileInput.value);
            let passwordIsValid = validatePassword(passwordInput.value);
            let confirmPassword=validateConfirmPassword(passwordInput.value,confirmPasswordInput.value)
        
            if (nameIsValid && emailIsValid && mobileIsValid && passwordIsValid && confirmPassword) {
                return true
            } else {
                return false
            }
        }
        
        
        </script>
    <!-- <script>
        let message1 = document.getElementById("msg")
        setTimeout(() => {
            message1.innerHTML = ""
        }, 5000)
    </script> -->
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->

</html>