<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:27:15 GMT -->
<head>
    <meta charset="utf-8">
    <title>SCO Sports</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/LOGO.png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <style>
        /* Add your CSS styling here */
        .search-container {
            display: flex;
            align-items: center;
            background-color: #f2f2f2;
            border-radius: 5px;
            padding: 5px;
        }

        .search-input {
            width: 700px;
            border: none;
            padding: 10px;
            border-radius: 5px;
        }

        .search-button {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
        }

        .search-button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <header class="header-area header-style-1 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">+91 9876543210</a></li>
                                <li><i class="fi-rs-marker"></i><a href="page-contact.html">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <%if(user){%>
                                    <li><i class="fi-rs-user"></i><a href="/userAccount">Account</a></li>
                                    <li><i class="fi-rs-user"></i><a href="/logout">Logout</a></li>
                                    <%}else{%>
                                        <li><i class="fi-rs-user"></i><a href="/user/login">Log In</a></li>
                                        <li><i class="fi-rs-user"></i><a href="/user/signup">Sign Up</a></li>
                                        <%}%>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="index.html"><img src="/assets/imgs/theme/LOGO.png" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <form action="/search" method="get">
                            <div class="search-container">
                                <input type="text" class="search-input" name="query" placeholder="Search...">
                                <button type="submit" class="search-button">Search</button>
                            </div>
                        </form>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishlist">
                                        <img class="svgInject" alt="SCO" src="/assets/imgs/theme/icons/icon-heart.svg">
                                        <%if(user){%>
                                        <span class="pro-count blue"><%=usersData.wishlist.length%></span>
                                        <%}%>
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cart">
                                        <img alt="SCO" src="/assets/imgs/theme/icons/icon-cart.svg">
                                        <%if(user){%>
                                        <span class="pro-count blue"><%=usersData.cart.length%></span>
                                        <%}%>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="/assets/imgs/theme/LOGO.png" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categori-button-active" href="#">
                                <span class="fi-rs-apps"></span> Browse Categories
                            </a>
                           
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/userHome">Home </a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/shop">Shop </a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img alt="Evara" src="/assets/imgs/theme/icons/icon-heart.svg">
                                    <%if(user){%>
                                    <span class="pro-count white"><%=usersData.wishlist.length%></span>
                                    <%}%>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart">
                                    <img alt="SCO" src="/assets/imgs/theme/icons/icon-cart.svg">
                                    <%if(user){%>
                                    <span class="pro-count white"><%=usersData.cart.length%></span>
                                    <%}%>
                                </a>
                                
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>












<!-- Mobile View Side Toggle -->


    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a ><img src="assets/imgs/theme/LOGO.png" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="/search" method="get">
                        <div class="search-container">
                            <input type="text" class="search-input" name="query" placeholder="Search...">
                            <button type="submit" class="search-button">Search</button>
                        </div>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            <ul>
                                <%for(let i=0;i<category.length;i++){%>
                                    <li><a href="/products/category?category=<%=category[i].categoryName%>"><i
                                                class="evara-font-desktop"></i>
                                            <%=category[i].categoryName%>
                                        </a></li>
                                    <%}%>
                                </ul>
                        </div>
                    </div>
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="/userHome">Home</a>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                href="/about">About</a>
                        </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="/shop">shop</a>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/contact">Contact</a>

                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    
                    <div class="single-mobile-header-info">
                        <a href="/user/login">Log In</a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="/user/signup">Sign Up</a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+91) 9876543210 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Account
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-10 m-auto">
                        
                        <div class="row">
                            <div class="col-md-4">
                                
                                <div class="dashboard-menu">
                                    
                                    
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link " id="dashboard-tab"  href="/userAccount"  aria-controls="dashboard" aria-selected="false"><i class="fi-rs-user mr-10"></i>Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab"  href="/userOrders"  aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab"  href="/changePassword"  aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Login & Security</a>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a class="nav-link active" id="address-tab"  href="/userAddress"   ><i class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab"  href="/walletDetails"   ><i class="fi-rs-marker mr-10"></i>Wallet</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab"  href="/couponDetails"   ><i class="fi-rs-marker mr-10"></i>Coupons and Offers</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/logout"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Edit Address</h5>
                                    </div>
                                    <div class="card-body">
                                        <form method="post" name="enq" onsubmit="return checkFormValidity()" >
                                            <div class="row">
                                                <div class="form-group col-md-8">
                                                    <label>Name </label>
                                                    <input  class="form-control square" name="name" type="text" id="name" value="<%=userData.name%>">
                                                    <div class="validation-message" style="color: red;" id="nameValidationMessage"></div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>House Name / House No </label>
                                                    <input  class="form-control square" name="houseName" type="text" id="houseName"value="<%=userData.houseName%>">
                                                    <div class="validation-message" style="color: red;" id="houseNameValidationMessage"></div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Street </label>
                                                    <input  class="form-control square" name="street" type="text" id="street" value="<%=userData.street%>">
                                                    <div class="validation-message" style="color: red;" id="streetValidationMessage"></div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>City </label>
                                                    <input  class="form-control square" name="city" type="text" id="city" value="<%=userData.city%>">
                                                    <div class="validation-message" style="color: red;" id="cityValidationMessage"></div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>District </label>
                                                    <input  class="form-control square" name="district" type="text" id="district" value="<%=userData.district%>">
                                                    <div class="validation-message" style="color: red;" id="districtValidationMessage"></div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>State </label>
                                                    <input  class="form-control square" name="state" type="text" id="state" value="<%=userData.state%>">
                                                    <div class="validation-message" style="color: red;" id="stateValidationMessage"></div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Pin </label>
                                                    <input  class="form-control square" name="pin" type="text" id="pin" value="<%=userData.pin%>">
                                                    <div class="validation-message" style="color: red;" id="pinValidationMessage"></div>
                                                    <input type="hidden" name="id" value="<%=userData._id%>">
                                                    <input type="hidden" name="mainId" value="<%=usersData._id%>">
                                                </div>
                                                
                                                
                                                <div class="col-md-12">
                                                
                                                    <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit">Save</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="assets/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html"><img src="/assets/imgs/theme/logo.svg" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="/assets/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="/assets/imgs/theme/google-play.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="/assets/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2021, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const nameInput = document.getElementById('name');
        const houseNameInput = document.getElementById('houseName');
        const streetInput = document.getElementById('street');
        const cityInput = document.getElementById('city');
        const districtInput=document.getElementById('district')
        const stateInput=document.getElementById('state')
        const pinInput=document.getElementById('pin')
        
        
        const nameValidationMessage = document.getElementById('nameValidationMessage');
        const houseNameValidationMessage = document.getElementById('houseNameValidationMessage');
        const streetValidationMessage = document.getElementById('streetValidationMessage');
        const cityValidationMessage = document.getElementById('cityValidationMessage');
        const districtValidationMessage=document.getElementById('districtValidationMessage')
        const stateValidationMessage = document.getElementById('stateValidationMessage');
        const pinValidationMessage = document.getElementById('pinValidationMessage');



        const nameRegex = /^[A-Za-z\s]{2,}$/;
        const pinRegex = /^[1-9]\d{5}$/;

        
        
        nameInput.addEventListener('input', () => {
            const name = nameInput.value;
            const isValid = validateName(name);
            
        });
        
        houseNameInput.addEventListener('input', () => {
            const name = houseNameInput.value;
            const isValid = validateHouseName(name);
            
        });
        
        streetInput.addEventListener('input', () => {
            const name = streetInput.value;
            const isValid = validateStreet(name);
            
        });
        
        cityInput.addEventListener('input', () => {
            const name = cityInput.value;
            const isValid = validateCity(name);
            
        });
        districtInput.addEventListener('input', () => {
            
            const name = districtInput.value;
            const isValid = validateDistrict(name);
            
        });
        stateInput.addEventListener('input', () => {
            
            const name = stateInput.value;
            const isValid = validateState(name);
            
        });
        pinInput.addEventListener('input', () => {
            
            const pin = pinInput.value;
            const isValid = validatePin(pin);
            
        });
        

        function validateName(name) {
            if(name.trim().length < 1){
                nameValidationMessage.textContent="Name cannot be empty"
                return false
            }
            if(!nameRegex.test(name.trim())){
                nameValidationMessage.textContent="Enter a valid name"
                return false
            }
            nameValidationMessage.textContent=""
            return true
        }

        function validateHouseName(name) {
            if(name.trim().length < 1){
                houseNameValidationMessage.textContent="Name cannot be empty"
                return false
            }
            
            houseNameValidationMessage.textContent=""
            return true
        }

        function validateStreet(name) {
            if(name.trim().length < 1){
                streetValidationMessage.textContent="Name cannot be empty"
                return false
            }
            
            streetValidationMessage.textContent=""
            return true
        }

        function validateCity(name) {
            if(name.trim().length < 1){
                cityValidationMessage.textContent="Name cannot be empty"
                return false
            }
            
            cityValidationMessage.textContent=""
            return true
        }

        function validateDistrict(name) {
            if(name.trim().length < 1){
                districtValidationMessage.textContent="Name cannot be empty"
                return false
            }
            
            districtValidationMessage.textContent=""
            return true
        }
        

        function validateState(name) {
            if(name.trim().length < 1){
                stateValidationMessage.textContent="Name cannot be empty"
                return false
            }
            
            stateValidationMessage.textContent=""
            return true
        }

        function validatePin(pin) {
            if(pin.trim().length < 1){
                pinValidationMessage.textContent="pin cannot be empty"
                return false
            }


            if(!pinRegex.test(pin.trim())){
                pinValidationMessage.textContent="Enter a valid pin"
                return false
            }
            
            pinValidationMessage.textContent=""
            return true
        }
        
        
        function checkFormValidity() {
            let nameIsValid = validateName(nameInput.value);
            let houseNameIsValid =validateHouseName(houseNameInput.value)
            let streetIsValid = validateStreet(streetInput.value);
            let cityIsValid = validateCity(cityInput.value)
            let districtIsValid=validateDistrict(districtInput.value)
            let stateIsValid = validateState(stateInput.value)
            let pinIsValid = validatePin(pinInput.value)
        
            if (nameIsValid && houseNameIsValid && streetIsValid && cityIsValid && districtIsValid && stateIsValid  && pinIsValid) {
                return true
            } else {
                return false
            }
        }
        
        
        </script>
    <!-- Vendor JS-->
    <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/plugins/slick.js"></script>
    <script src="/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/assets/js/plugins/wow.js"></script>
    <script src="/assets/js/plugins/jquery-ui.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/assets/js/plugins/magnific-popup.js"></script>
    <script src="/assets/js/plugins/select2.min.js"></script>
    <script src="/assets/js/plugins/waypoints.js"></script>
    <script src="/assets/js/plugins/counterup.js"></script>
    <script src="/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/assets/js/plugins/images-loaded.js"></script>
    <script src="/assets/js/plugins/isotope.js"></script>
    <script src="/assets/js/plugins/scrollup.js"></script>
    <script src="/assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="/assets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="/assets/js/main.js"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:27:15 GMT -->
</html>